<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIgHKKaXsglLIwB-PQnyyLevKkHp88R6E</string>
	<key>GCM_SENDER_ID</key>
	<string>35257551521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teslx.work.TesePlanity</string>
	<key>PROJECT_ID</key>
	<string>teseplanity</string>
	<key>STORAGE_BUCKET</key>
	<string>teseplanity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35257551521:ios:4e02a6142d83d81a4dfee0</string>
</dict>
</plist>